body {
  padding: 50px;
}

.button {
  font-family: HiraKakuPro-W3;
  font-size: 12px;
  line-height: 34px;
  display: inline-block;
  height: 34px;
  padding: 0 1rem;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  vertical-align: middle;
  text-decoration: none;
  color: #a9a9a9;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button .icon-thumbs-up {
  font-size: 1rem;
  position: relative;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  color: #999;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.button .icon-thumbs-up:before, .button .icon-thumbs-up:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  content: '';
  border-radius: 50%;
}

.button .icon-thumbs-up:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 4.5rem;
  height: 4.5rem;
  margin: -2.25rem;
  -webkit-transform: scale(0);
  transform: scale(0);
  border: solid 2.25rem #e2264d;
}

.button .icon-thumbs-up:after {
  width: .375rem;
  height: .375rem;
  margin: -.1875rem;
  -webkit-box-shadow: .32476rem -3rem 0 -.1875rem #ff8080, -.32476rem -2.625rem 0 -.1875rem #ffed80, 2.54798rem -1.61656rem 0 -.1875rem #ffed80, 1.84982rem -1.89057rem 0 -.1875rem #a4ff80, 2.85252rem .98418rem 0 -.1875rem #a4ff80, 2.63145rem .2675rem 0 -.1875rem #80ffc8, 1.00905rem 2.84381rem 0 -.1875rem #80ffc8, 1.43154rem 2.22414rem 0 -.1875rem #80c8ff, -1.59425rem 2.562rem 0 -.1875rem #80c8ff, -.84635rem 2.50595rem 0 -.1875rem #a480ff, -2.99705rem .35095rem 0 -.1875rem #a480ff, -2.48692rem .90073rem 0 -.1875rem #ff80ed, -2.14301rem -2.12438rem 0 -.1875rem #ff80ed, -2.25479rem -1.38275rem 0 -.1875rem #ff8080;
  box-shadow: .32476rem -3rem 0 -.1875rem #ff8080, -.32476rem -2.625rem 0 -.1875rem #ffed80, 2.54798rem -1.61656rem 0 -.1875rem #ffed80, 1.84982rem -1.89057rem 0 -.1875rem #a4ff80, 2.85252rem .98418rem 0 -.1875rem #a4ff80, 2.63145rem .2675rem 0 -.1875rem #80ffc8, 1.00905rem 2.84381rem 0 -.1875rem #80ffc8, 1.43154rem 2.22414rem 0 -.1875rem #80c8ff, -1.59425rem 2.562rem 0 -.1875rem #80c8ff, -.84635rem 2.50595rem 0 -.1875rem #a480ff, -2.99705rem .35095rem 0 -.1875rem #a480ff, -2.48692rem .90073rem 0 -.1875rem #ff80ed, -2.14301rem -2.12438rem 0 -.1875rem #ff80ed, -2.25479rem -1.38275rem 0 -.1875rem #ff8080;
}

.button .label {
  padding: 0 .15rem;
}

.button .total {
  font-size: 10px;
  line-height: 19px;
  display: inline-block;
  padding: 0 .2rem;
  color: #fff;
  border-radius: 3px;
  background: #f3715c;
}

.button:hover {
  background: #ececec;
}

.button.active {
  color: #4a4a4a;
  border-color: #d3cdc7;
  background: #f8f3ef;
}

.button.active .icon-thumbs-up {
  -webkit-animation: 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  animation: 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  color: #f3715c;
  -webkit-filter: none;
  filter: none;
}

.button.active .icon-thumbs-up:before, .button.active .icon-thumbs-up:after {
  -webkit-animation: inherit;
  animation: inherit;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.button.active .icon-thumbs-up:before {
  -webkit-animation-name: bubble;
  animation-name: bubble;
  will-change: transform, border-width, border-color;
}

.button.active .icon-thumbs-up:after {
  -webkit-animation-name: sparkles;
  animation-name: sparkles;
  will-change: opacity, box-shadow;
}

@-webkit-keyframes bubble {
  15% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-width: 2.25rem;
    border-color: #f3715c;
  }
  30%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-width: 0;
    border-color: #f3715c;
  }
}

@keyframes bubble {
  15% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-width: 2.25rem;
    border-color: #f3715c;
  }
  30%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-width: 0;
    border-color: #f3715c;
  }
}

@-webkit-keyframes sparkles {
  0%,
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-box-shadow: .32476rem -2.4375rem 0 0rem #ff8080, -.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem .85901rem 0 0rem #a4ff80, 2.08305rem .14233rem 0 0rem #80ffc8, .76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem .22578rem 0 0rem #a480ff, -1.93852rem .77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #ff8080;
    box-shadow: .32476rem -2.4375rem 0 0rem #ff8080, -.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem .85901rem 0 0rem #a4ff80, 2.08305rem .14233rem 0 0rem #80ffc8, .76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem .22578rem 0 0rem #a480ff, -1.93852rem .77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #ff8080;
  }
}

@keyframes sparkles {
  0%,
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-box-shadow: .32476rem -2.4375rem 0 0rem #ff8080, -.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem .85901rem 0 0rem #a4ff80, 2.08305rem .14233rem 0 0rem #80ffc8, .76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem .22578rem 0 0rem #a480ff, -1.93852rem .77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #ff8080;
    box-shadow: .32476rem -2.4375rem 0 0rem #ff8080, -.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem .85901rem 0 0rem #a4ff80, 2.08305rem .14233rem 0 0rem #80ffc8, .76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem .22578rem 0 0rem #a480ff, -1.93852rem .77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #ff8080;
  }
}
